---
import TeamMember from '../../layouts/TeamMember.astro';
---
<TeamMember
  name="Abhinav Sharma, MD"
  role="Co-Founder"
  photo="/images/team/Abhinav.jpg"
  linkedin="https://www.linkedin.com/in/abhinav-sharma-b37a107/"
  authorMatch={["Abhinav Sharma"]}
>
  <p>Abhinav co-founded River Records along with Jackson and Jake. He's passionate about the delivery of medical care that is efficient for patients and minimizes burden for clinicians.</p>
  <p>He's a family doctor with his own practice at the University of Toronto, and a co-author on the foundational research behind Stream's problem-oriented approach to documentation.</p>
  <p>In his spare time he likes to be active — hiking or skiing in the mountains of British Columbia.</p>
</TeamMember>
