---
import TeamMember from '../../layouts/TeamMember.astro';
---
<TeamMember
  name="Derrick Chu, MD, PhD"
  role="Quality Assurance & Clinical Advisor"
  photo="/images/team/Derrick.jpg"
  linkedin="https://www.linkedin.com/in/derrick-chu-54b15899/"
  authorMatch={["Derrick Chu"]}
>
  <p>Technology and medicine don't have to be like oil and water.</p>
  <p>Derrick is a physician-scientist and actively practicing pediatrician with 5+ years of data science experience, committed to ensuring that clinicians and technology play nice. He grew up in the heart of Silicon Valley during the boom of the internet and is inspired by the countless innovations that provide solutions to complex problems while remaining simple and intuitive for users.</p>
  <p>As Advisor to Product for River Records, he brings frontline clinical perspective to product testing and quality assurance — making sure Stream works the way clinicians actually need it to.</p>
</TeamMember>
